/* Extra small devices (phones, up to 480px) */
.square {
    float:left;
    position: relative;
    width: 35px;
    height: 35px;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */    
    margin-top:10px;
    overflow:hidden;
    background-color: #D8D8D8;
    border: 1px #9D9D9D solid;
}

@media screen and (max-width: 767px) {
	.user-details {
		width: 88%;		
	}
	
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.user-details {
		width: 88%;		
	}
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	.user-details {
		width: 54%;		
	}	
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	.user-details {
		width: 54%;		
	}	
}