<div class="page page-dashboard" data-ng-controller="DashboardLilyCtrl">

	<div class="row ui-section">
		<div class="col-lg-8 clearfix">
			<h2 class="section-header">Settings</h2>
		</div>
		<div class="col-md-12">
			<section class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">

							<div layout="column" ng-cloak
								class="md-inline-form inputdemoBasicUsage">
								<md-content layout-padding>
								<form class="form-validation" name="settingsForm">
									<div layout layout-sm="column">
										<md-input-container flex> <input
											type="text" name="firstname" required class="form-control"
											required ng-model="newUser.firstname" data-ng-maxlength=30
											aria-label="firstname"> <span class="input-bar"></span>
										<label>Firstname</label>
										<div ng-messages="registerForm.firstname.$error" multiple
											ng-if='registerForm.firstname.$dirty'>
											<div ng-message="required">Firstname is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
										<md-input-container flex> <input
											type="text" name="lastname" required class="form-control"
											required ng-model="newUser.lastname" aria-label="lastname"
											data-ng-maxlength=30> <span class="input-bar"></span>
										<label>Lastname</label>
										<div ng-messages="registerForm.lastname.$error" multiple
											ng-if='registerForm.lastname.$dirty'>
											<div ng-message="required">Lastname is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
									</div>

									<div layout layout-sm="column">
										<md-input-container flex> <input disabled
											type="text" name="email" required class="form-control"
											name="email" required ng-model="newUser.email"
											ng-pattern="/^.+@.+\..+$/" aria-label="email"
											data-ng-maxlength=50> <span class="input-bar"></span>
										<label>Username</label>
										<div ng-messages="registerForm.email.$error" multiple
											ng-if='registerForm.email.$dirty'>
											<div ng-message="required">Email is required.</div>
											<div ng-message="pattern">It must be an e-mail address.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
									</div>

									<div layout layout-sm="column">
										<md-input-container flex> <input
											name="password" type="password" class="form-control"
											ng-model="newUser.password" aria-label="password"
											data-ng-maxlength=50> <span class="input-bar"></span>
										<label>Password</label>
										<div ng-messages="registerForm.password.$error" multiple
											ng-if='registerForm.password.$dirty'>
											<div ng-message="required">Password is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
										<md-input-container flex> <input
											name="password" type="password" class="form-control"
											ng-model="newUser.repassword"
											aria-label="repassword" data-ng-maxlength=50> <span
											class="input-bar"></span> <label>Retype Password</label>
										<div ng-messages="registerForm.repassword.$error" multiple
											ng-if='registerForm.repassword.$dirty'>
											<div ng-message="required">Password is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
									</div>
									
									<div layout layout-sm="column">
										<md-input-container flex> <input
											type="text" name="company" required class="form-control"
											required ng-model="newUser.company" data-ng-maxlength=100
											aria-label="company"> <span class="input-bar"></span>
										<label>Company</label>
										<div ng-messages="registerForm.company.$error" multiple
											ng-if='registerForm.company.$dirty'>
											<div ng-message="required">Company name is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
										<md-input-container flex> <input
											type="text" name="department" required class="form-control"
											required ng-model="newUser.department" data-ng-maxlength=100
											aria-label="department"> <span class="input-bar"></span>
										<label>Department</label>
										<div ng-messages="registerForm.department.$error" multiple
											ng-if='registerForm.department.$dirty'>
											<div ng-message="required">Department name is required.</div>
											<div ng-message="maxlength">Field is too long</div>
										</div>
										</md-input-container>
									</div>
									
									
									<div class="card-action no-border text-right">
										<md-button ng-click="onHome()"
											class="md-raised btn-w-md md-primary">Cancel</md-button>

										<md-button type="submit" ng-click="onSaveSettings()"
											class="md-raised btn-w-md md-primary">Save</md-button>
									</div>
								</form>
								</md-content>
							</div>

						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

</div>